@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Raleway:200");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline }article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block }body {line-height: 1 }ol, ul {list-style: none }blockquote, q {quotes: none }blockquote:before, blockquote:after, q:before, q:after {content: '';content: none }table {border-collapse: collapse;border-spacing: 0 }button, hr, input {overflow: visible }audio, canvas, progress, video {display: inline-block }progress, sub, sup {vertical-align: baseline }html {font-family: sans-serif;line-height: 1.15;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100% }body {margin: 0 }menu, article, aside, details, footer, header, nav, section {display: block }h1 {font-size: 2em;margin: .67em 0 }figcaption, figure, main {display: block }figure {margin: 1em 40px }hr {box-sizing: content-box;height: 0 }code, kbd, pre, samp {font-family: monospace, monospace;font-size: 1em }a {background-color: transparent;-webkit-text-decoration-skip: objects }a:active, a:hover {outline-width: 0 }abbr[title] {border-bottom: none;text-decoration: underline;text-decoration: underline dotted }b, strong {font-weight: bolder }dfn {font-style: italic }mark {background-color: #ff0;color: #000 }small {font-size: 80% }sub, sup {font-size: 75%;line-height: 0;position: relative }sub {bottom: -.25em }sup {top: -.5em }audio:not([controls]) {display: none;height: 0 }img {border-style: none }svg:not(:root) {overflow: hidden }button, input, optgroup, select, textarea {font-family: sans-serif;font-size: 100%;line-height: 1.15;margin: 0 }button, input {}button, select {text-transform: none }[type=submit], [type=reset], button, html [type=button] {-webkit-appearance: button }[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {border-style: none;padding: 0 }[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {outline: ButtonText dotted 1px }fieldset {border: 1px solid silver;margin: 0 2px;padding: .35em .625em .75em }legend {box-sizing: border-box;color: inherit;display: table;max-width: 100%;padding: 0;white-space: normal }progress {}textarea {overflow: auto }[type=checkbox], [type=radio] {box-sizing: border-box;padding: 0 }[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {height: auto }[type=search] {-webkit-appearance: textfield;outline-offset: -2px }[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {-webkit-appearance: none }::-webkit-file-upload-button {-webkit-appearance: button;font: inherit }summary {display: list-item }[hidden], template {display: none }

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    overflow: hidden;
}

body {
    font-family: "Quicksand", Helvetica, Arial, sans-serif;
    font-display: swap;
}

a {
    color: #fff;
}


#backgroundElement {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    overflow: auto;
}

main {
    margin-top: 200px;
}

#container {
    transition: opacity 0.8s;
}

/*.container {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: #fff;
    max-height: 100vh;
    padding: 48px 0;

}*/

section {
    max-width: 100%;
    width: 730px;
    text-align: center;
    padding: 0;
    margin: 0 0 10px 0;
}


.linksContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.linksContainer a {
    border: 1px #fff solid;
    border-radius: 22px;
    background: #fff3;
    font-size: 1.35rem;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    text-decoration: none;
    min-width: 180px;
    display: inline-block;
    padding: 0.5rem 0.6rem;
    margin: 0.6rem 0.5rem;
    text-align: center;
}

.linksContainer a:hover {
    background: #fff6;
}

#tabsContainer .tabs {
    display: flex;
    gap: 20px;
    max-width: 50vw;
    min-width: fit-content;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 0px 7px;
    margin-bottom: 35px;
    justify-content: center;
}

.tab {
    background: #ffffff2e;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    text-shadow: 1px 1px 2px #5e5e5ed1;
}

.tab:hover {
    background: linear-gradient(90deg, #FFB82160 0%, #FF5C3860 48%, #FF145960 100%);
}

.active {
    background: linear-gradient(90deg, #FFB821b1 0%, #FF5C38b1 48%, #FF1459b1 100%);
}

.datetimeContainer {
    font-size: 60px;
    color: #fff;
    margin-bottom: 60px;
}

.datetimeContainer div {
    margin: 10px 0;
}


#dailyContainer .link img {
    width: 30px;
}


.hidden {
    display: none;
}

#photoDetails {
    border-radius: 5px 10px;
    padding: 5px 10px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 11px;
    text-align: left;
    text-decoration: none;
    color: #fff;
}

#photoDetails a {
    text-decoration: underline;
}

#counter {
/*    background: linear-gradient(90deg, #FFB82160 0%, #FF5C3860 48%, #FF145960 100%);*/
    background: #ffffff30;
    position: absolute;
    bottom: 6px;
    right: 5px;
    font-size: 12px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px 10px;
    cursor: pointer;
}

.counts1 {
    color: #fff;
}




